
  <header>
    <nav>
      <a href="/" class="nav__link">Home</a>
      <a href="/newPost" class="nav__link">New Post</a>
    </nav>
  </header>
  <main class="home__container">
    <div class="post__container">
        <h1 class="post__title">{{ title }}</h1>
        <h2 class="post__author">{{ author }}</h2>
        <p class="post__date">{{ date }}</p>
        <p class="post__content">{{ content }}</p>
      </div>
  </main>
  <footer>
    <h3 class="footer__text">Copyright &copy; 2019</h3>
  </footer>
