<header>
  <nav>
    <a href="/"><h1>Diario Semanal</h1></a>
    <a href="/newPost" class="nav__link">New Post</a>
  </nav>
</header>
<main class="home__container">
  <h2>Error</h2>
  <p>Sorry, we can't find your page right now. Try finding another blog post on our homepage &#128521;</p>
</main>
