* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #ffffff;
  background: #424b54;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 35px;
}

a {
  color: white;
  text-decoration: none;
}
.nav__link {
  transition: 0.4s border;
  border-bottom: 1px solid #424b54;
}

.nav__link:hover {
  border-bottom: 1px solid #ffffff;
}

header {
  padding: 15px 0;
  background: #424b54;
  margin: auto;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 5%;
  width: 100%;
  max-width: 1200px;
}

.banner {
  width: 100%;
  height: 450px;
  display: flex;
  background: url('../images/books.jpg');
  background-size: cover;
  overflow: hidden;
}

.banner__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 10%;
}

.banner__overlay > p {
  font-size: 25px;
  line-height: 1.5;
  color: #e0ecfa;
}

.home__container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0;
}

.preview__container {
  margin-bottom: 20px;
  padding: 10px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #aeb9c4;
  position: relative;
  transition: 0.2s;
}

.preview__container:hover {
  box-shadow: 1px 1px 6px 1px #aeb9c4;
  cursor: pointer;
  transform: scale(1.01);
}

.fadeOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.preview__title, .preview__date {
  padding-bottom: 10px;
}

.preview__author {
  padding-bottom: 5px;
}

@media(max-width: 540px) {
  .home__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media(max-width: 400px) {
  h1 {
    font-size: 25px;
  }
}

@media(max-width: 300px) {
  .banner__overlay > p {
    font-size: 20px;
  }
}